textarea
{
	width: 450px;
	background: #fff;
	border:1px solid #e5e5e5;
	color:#828282;
	padding:0 5px 0 5px;
	
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input[type=text] {
	padding-top:7px;
}

textarea {
	padding-top:7px;
}

input
{
	background: #fff;
	border:1px solid #e5e5e5;
	height:25px;
	width:20em;
	color: #828282;
	padding:0 5px 0 5px;
	font-size:12px;
	
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#contact_form
{
	position: relative;
	float: left;
	overflow: hidden;
	padding: 1em;
	text-align: left;
	background: none;
	margin-left:-14px;
}

#contact-form p {
	padding-bottom:10px;
}

p small
{
	display: block;
	color: #828282;
	font-size:12px;
	margin-top:10px;
}

#submit {
	height:33px;
	background-color:#fcfcfc;
}

#submit:hover {
	cursor:pointer;
	background-color:#414141;
	border:1px solid #414141;
	color:#f8f8f8;
}

ul#response 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type:none;
	color: #9f9f9f;
	margin-left:0px;
	margin-bottom:50px;
	line-height:22px;
}
