#manager_form_wrap {
	margin: 20px 0px 10px;
	background:#f3f3f3;
	width:800px;	
}
.appendoButtons {
	margin-bottom:40px;
} 
#manager_wrap .slide {
	overflow: hidden;
	background:#f9f9f9;
	cursor:move;
}

#manager_wrap .slide td {
	padding:10px 0;
	line-height:24px;
}

#manager_wrap .slide label {
	font-size:10px;
	display:inline;
	margin: 10px 0 0;
	cursor:move;
}

#manager_form {
	margin-bottom:25px;
}

#manager_wrap {
	margin:25px;
}
#manager_wrap #header {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #6d6d6d url(../images/header.png) repeat-x left top;
	border: 1px solid #555;
	height: 71px;
	width: 785px;
	position: relative;
}

#manager_wrap #header span.icon {
    background: url("../images/icon_option.png") no-repeat scroll left center transparent;
    display: block;
    height: 32px;
    position: absolute;
    right: 20px;
    text-indent: -9999px;
    top: 18px;
    width: 32px;
}

#manager_wrap #header span.logo {
    background: url("../images/themelogo.png") no-repeat scroll left center transparent;
    display: block;
    height: 44px;
    position: absolute;
    left: 20px;
    text-indent: -9999px;
    top: 18px;
    width: 105px;
}

#manager_wrap #content_wrap {
	border: 1px solid #aaa;
	width: 785px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
}

#manager_wrap #content_wrap .top-info {
	background: none repeat scroll 0 0 #F9F9F9;
	border-bottom: 1px solid #E3E3E3;
	border-top: 1px solid #FFFFFF;
	height: 35px;
}

#manager_wrap #content_wrap .bottom-info {
	background: none repeat scroll 0 0 #f1f1f1;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #FFFFFF;
	height: 35px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#content_wrap #options_tabs {
    background: url("../images/tabs_bg.png") repeat-y scroll 0 0 #fff;
}

#content_wrap #options_tabs .options_tabs {
    float: left;
    list-style: none outside none;
    position: relative;
    width: 148px;
    word-wrap: break-word;
}

#content_wrap #options_tabs .options_tabs li {
    display: block;
    float: left;
    margin: 0;
    overflow: visible;
    padding: 0;
	position:relative;
}

#content_wrap #options_tabs .options_tabs li.selected a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #D54E45;
    width: 128px;
	background-image: url("../images/white_px.png");
	background-position: 0 0;
	background-repeat: repeat-x;
	border-bottom: 1px solid #E3E3E3;
	color: #21759B;
	display: block;
	float: left;
	font-size: 11px;
	padding: 8px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}

#content_wrap #options_tabs .options_tabs li a {
    width: 128px;
	background-image: url("../images/white_px.png");
	background-position: 0 0;
	background-repeat: repeat-x;
	border-bottom: 1px solid #E3E3E3;
	color: #21759B;
	display: block;
	float: left;
	font-size: 11px;
	padding: 8px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;	
}

#content_wrap #options_tabs .options_tabs li:not(.selected) a:hover {
	background:#EAF2FA;
}


#content_wrap #options_tabs .options_tabs li.selected span {
    background: url("../images/icon_arrow.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    left: -1px;
    position: absolute;
    top: 12px;
    width: 8px;
}

.option_general_default {
    display: block;
    float: right;
    min-height: 400px;
    width: 595px;
	margin:20px 20px 20px 0;
}

#manager_wrap #content_wrap input.button-framework, #manager_wrap #content_wrap button.button-framework {
    float: right;
    font-size: 11px;
    height: 24px;
    margin: 5px 20px 0 0;
    background: url("../images/btn.png") repeat-x scroll 0 0 #F3F3F3;
    border: 1px solid #BBBBBB;
    color: #444444;
    cursor: pointer;
    padding: 4px 10px;
    text-shadow: 0 1px 0 #FFFFFF;
	border-radius:4px;
	margin:5px 20px 0 0;
}

#manager_wrap #content_wrap h3 {
    border-bottom: 1px solid #EEEEEE;
    clear: both;
    font-size: 14px;
    margin: 0 0 15px;
    padding-bottom: 10px;
}

#manager_wrap #content_wrap p {
    color: #555555;
    font-size: 11px;
    margin: 0;
    padding-bottom: 20px;
}

#manager_wrap #content_wrap .option .section .element {
    float: left;
    margin: 0 15px 20px 0;
    width: 345px;
}

#manager_wrap #content_wrap .option .section .description {
    color: #555555;
    float: left;
    font-size: 11px;
    padding: 2px 10px 0 0;
    width: 225px;
}

#manager_wrap #content_wrap input[type="text"], #manager_wrap #content_wrap select, #manager_wrap #content_wrap textarea {
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    display: block;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    margin-bottom: 9px !important;
    padding: 5px;
    resize: none;
    width: 324px;
}

#manager_wrap #content_wrap input[type="text"]:focus {
	color:#000;
}

#manager_wrap #content_wrap input[type="text"] {
	float:left;
}

#manager_wrap #content_wrap .select_wrapper span {
    height: 26px;
    line-height: 26px;
    padding-left: 6px;
    position: absolute;
    z-index: 2;
}

#manager_wrap #content_wrap .select_wrapper {
    background: url("../images/select.png") no-repeat scroll right center #FAFAFA;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    display: block;
    float: left;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    height: 26px;
    margin-bottom: 21px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 324px;
}

#manager_wrap #content_wrap select.select {
    cursor: pointer;
    height: 28px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    width: inherit;
    z-index: 4;
}

#manager_wrap #content {
	padding:15px;
	background:#FFF;
	width:755px;
}

.shown { display:block; }
.hidden { display:none; }

.slide {
	width:753px;
	border:1px solid #DFDFDF;
	 -moz-border-radius: 6px; 
  -webkit-border-radius: 6px; 
          border-radius: 6px;
}

.slide:not(:last-child) {
	margin-bottom:15px;
}

.slide-bar {
	width:753px;
	height:29px;
	background: url("../images/menu-bits.gif") repeat-x 0 -1px #FAFAFA;
	line-height:29px;
	position:relative;
}

.slide-highlight {
	width:753px;
	height:29px;
	background: #F5F5F5;
	border:1px dashed #BBB;
	line-height:29px;
	margin-bottom:15px;
}

.slide-edit {
	float:right;
	display:block;
	text-indent:-9999px;
	height:29px;
	width:21px;
	background: url("../images/menu-bits.gif") no-repeat scroll 0 -109px transparent;
}

.slide-settings {
	width:725px;
	display:none;
	background:#F9F9F9;
	padding:15px;
}

#manager_wrap #content_wrap .slide-settings label {
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size: 12px;
	font-style: italic;
	color:#666;
}

.slide-title {
	text-shadow:0 1px 0 #FFFFFF;
	font-weight:bold;
	padding-left:10px;
}

.slide-type {
	position: absolute;
	right:30px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	color:#999;
	text-shadow:0 1px 0 #FFF;
}

.column_left {
	width:355px;
	float:left;
	margin:0 15px 15px 0;
}

.column_right {
	width:355px;
	float:left;
	margin:0 0 15px 0;
}

.link-page { display:none; }
.link-post { display:none; }
.link-portfolio { display:none; }
.link-custom { display:none; }

.help {
	height:16px;
	width:16px;
	padding:4px;
	float:left;
}

.tooltip {
	color:#FFF;
	font-size:10px;
	width:230px;
}

.tooltip-body {
	background: url("../images/tooltip_bg.png") repeat transparent;
	 -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
          border-radius: 5px;
		padding:7px;
}

.tooltip-arrow {
	background: url("../images/tooltip_arrow.png") no-repeat 14px 0 transparent;
	height:5px;
}

.remove_slide {
	color:#FF0000;
	text-decoration:none;
	border-bottom:1px solid #FF0000;
}

.remove_slide:hover {
	color:#FFF;
	text-decoration:none;
	background:#FF0000;
}